<!-- NAVBAR -->
<nav id="navbar"
     class="fixed top-0 left-0 w-full z-50 backdrop-blur-lg border-b border-gray-400 text-white"
     style="background-color: rgba(0, 0, 0, var(--nav-opacity, 0));">

    <div class="max-w-7xl mx-auto flex justify-between items-center px-6 py-4">

        <!-- Logo -->
        <div class="flex items-center gap-4">

            <a href="index.html">

                <img src="img/logo.png"
                     class="w-24"
                     alt="BMN Services de Soudure">

            </a>

        </div>


        <!-- Navegación -->
        <div class="hidden lg:flex gap-10">

            <a href="index.html"
               class="hover:text-red-500 duration-300 font-medium">
                Accueil
            </a>

            <a href="about.html"
               class="hover:text-red-500 duration-300 font-medium">
                À propos
            </a>

            <a href="services.html"
               class="hover:text-red-500 duration-300 font-medium">
                Projets
            </a>

            <a href="contact.html"
               class="hover:text-red-500 duration-300 font-medium">
                Contact
            </a>

        </div>


        <!-- Botón de cotización -->
        <a href="contact.html"
           class="hidden lg:block bg-gray-600 hover:bg-gray-700
                  duration-300 px-6 py-3 rounded-full
                  text-white font-medium">

            Devis

        </a>

    </div>

</nav>